<app-header></app-header>


<div class="container">

    <form [formGroup]='editForm' (ngSubmit)='postForm(editForm.value)'>
        
            <div class="form-group">
              <label for="formGroupExampleInput">User Id</label>
              <input type="text" class="form-control" readonly formControlName="Id_User" placeholder="User_Id" >
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Login</label>
              <input type="text" class="form-control" formControlName="Login" placeholder="Login">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Email</label>
                <input type="text" class="form-control" formControlName="Email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Password</label>
                <input type="text" class="form-control" formControlName="Password" placeholder="Password">
            </div>
            <br><br>
            <button type="submit" class="btn btn-dark"> Save </button>
            <button type="button" class="btn btn-light" (click)='deleteUser()'> Delete </button>
            <button type="button" class="btn btn-dark" (click)='exit()'> Exit </button>
    </form>
</div>

<app-footer></app-footer>