<app-header></app-header>

<div class="container">


    <h3>
        All Users
    </h3>

    <button type="button" class="btn btn-dark"
    (click)='addUser()'
    >New User</button>

    <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Login</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersList" (click)='editUser(user.id_User)'>
        <th scope="row"> {{user.id_User}} </th>
        <td>{{user.login}} </td>
        <td>{{user.email}} </td>
        <td>{{user.password}}</td>
      </tr>
     </tbody>
    </table>

</div>
<app-footer></app-footer>
